@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.main-cabinet {
    background-color: $mainBackground;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
    color: $TextColor;
    &__info {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: auto;
    }
    &__text {
        width: 60%;
        display: flex;
        flex-direction: column;
        color: $TextColor;
        gap: 1rem;
        padding: 1rem;
    }
}
.restaurants {
    background-color: $HighlightColor;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $TextColor;
    &__restaurant {
        height: 6rem;
        background-image: url('../../Assets/images/restaurantDummie.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        color: $TextColor;
    }
    &__name {
        font-size: 0.8rem;
        text-align: center;
        background-color: $darkBackground;
        padding: 0.2rem;
        border: 1px solid $TextColor;
    }
    &__button {
        width: 100%;
        border-radius: 0;
        justify-content: center;
    }
}
