@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.main-cabinet {
    position: relative;
    background-color: $mainBackground;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
    color: $TextColor;
    max-width: 100%;
    &__header {
        font-size: 1rem;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__stats {
        font-size: 0.7rem;
        @include tablet {
            font-size: 1.2rem;
        }
    }
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: auto;
        padding: 1rem;
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        color: $TextColor;
        gap: 1rem;
        padding: 1rem;
    }
}
.avo-div {
    width: 30%;
}
.restaurants {
    background-color: $HighlightColor;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $TextColor;
    &__restaurant {
        height: 6rem;
        background-image: url('../../Assets/images/restaurantDummie.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        color: $TextColor;
    }
    &__header {
        display: flex;
        width: 100%;
    }
    &__text {
        width: 100%;
        font-size: 0.5rem;
        text-align: center;
        background-color: $darkBackground;
        padding: 0.2rem;
        border: 1px solid $TextColor;
        @include tablet {
            font-size: 1rem;
        }
    }
    &__button {
        width: 100%;
        border-radius: 0;
        justify-content: center;
    }
    &__shift-buttons {
        display: flex;
        justify-content: space-around;
    }
    &__shift {
        width: fit-content;
        margin: 1rem;
        border-radius: 10px;
    }
    &__shift-message {
        background-color: $TextColor;
        color: $darkBackground;
        text-align: center;
        width: 100%;
        padding: 0.2rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.5rem;
    }
}

.react-calendar {
    max-width: 80%;
    color: $darkBackground;
    margin: auto;
    @include tablet {
        max-width: 40%;
    }
}
