@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.siteHeader {
    background-color: $darkBackground;
    padding: 0 1rem;
    color: $TextColor;
    height: 10vh;
    display: flex;
    justify-content: center;
    &__user-div {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        @include tablet {
            justify-content: flex-end;
        }
    }
    &__link {
        margin: auto;
        height: 90%;
        display: flex;
        justify-content: center;
    }
    &__greeting {
        text-transform: uppercase;
        font-weight: 500;
    }
}