@use '../../styles/colors' as *;

.siteHeader {
    background-color: $darkBackground;
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 1rem;
    color: $WebsiteWhite;
    padding: 0 2rem;
    &__link {
        margin-right: auto;
    }
    &__logo{
        height: 4rem;
    }
    &__button {
        align-self: center;
    }
    &__greeting {
        text-transform: uppercase;
        font-weight: 500;
    }
    &__avatar {
        height: 2.8rem;
        width: 2.8rem;
    }
}