@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.siteFooter {
    background-color: $darkBackground;
    width: 100%;
    color: $TextColor;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-top: 2px solid $TextColor;
    &__logo {
        height: 3rem;
    }
}