@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;


.slider {
    height: 8%;
    display: flex;
    flex-direction: column;
    border: none;
    border-top: 1px solid $TextColor;
    &__row {
        height: 50%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    &__row::-webkit-scrollbar {
        display: none; 
    }
    &__item {
        align-self: stretch;
        font-size: .625rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $darkBackground;
        background-color: $HighlightColor;
        width: 100%;
        min-width: fit-content;
        padding: 0.2rem 0.5rem;
        border: 0px solid $darkBackground;
        border-bottom-width: 1.5px;
        border-right-width: 1.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item:hover {
        background-color: $TextColor;
    }
}

.dishes {
    padding: 0.5rem;
    margin-bottom: auto;
    height: 60%;
    overflow: scroll;
    &__container {
        margin: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem
    }
    &__dish {
        width: 6.5rem;
        height: 6.5rem;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid $darkBackground;
        overflow: scroll;
        background-color: $TextColor;
        background-image: url('../../Assets/images/meat.png');
        background-size: 4rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__dish-text{
        padding: 0 0.3rem;
        display: flex;
        background-color: $darkBackground;
        justify-content: space-between;
        gap: 0.1rem;
        align-items: center;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}
.check {
    height: 40%;
    border-top: 2px solid $darkBackground;
    background-color: $TextColor;
    color: $darkBackground;
    overflow: scroll;
    &__head {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__header {
        align-self: stretch;
        font-size: .625rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $darkBackground;
        background-color: $TextColor;
        width: 100%;
        min-width: 9rem;
        border: 0px solid $darkBackground;
        border-bottom-width: 1.5px;
        border-right-width: 1.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__items { 
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__items-box {
        min-width: 7rem;
        align-self: stretch;
        font-size: .625rem;
        font-weight: 400;
        color: $darkBackground;
        width: 100%;
        min-width: 9rem;
        border: 0px solid $darkBackground;
        border-right-width: 1px;
        border-bottom-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0.3rem 0.5rem;
    }
    &__item { 
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__item-text {
        text-transform: uppercase;
    }
    &__header:hover {
        background-color: $HighlightColor;
    }
}

.active {
    background-color: $TextColor;
    color: $HighlightColor
}